<% include ../partial/navbar.ejs %>

<div class="container">
        <link rel="stylesheet" href="/assets/posts.css" type="text/css">
        <ul>
                <% posts.forEach((post)=>{ %>
                        <li><%= post.content %> - <%= post.likes %></li>
                <% });  %>
        </ul>
</div>