<% include ../partial/navbar.ejs %>
<div>
<img src="/assets/graph.png">
 
</div>
</br></br></br></br></br>
<div class="container">
    <ul style="list-style: none">
        <% users.forEach((user)=>{ %>
             

                <div class="row">
                    <div class="col-1">
                        <img class="imgBorder mb-3" height="90" width="90" src="<%= user.pic %>" style="
                                                height: 71px;
                                                width: 70px;
                                                border: 1px solid white;
                                                border-radius: 176px;
                                                "> </div>
                    <div class="col-5">
                        <a href="/visualize_users_diaa/<%= user.name %>">
                            <h4>
                                <%= user.name %>
                            </h4>
                        </a>
                        <h6 class="text-muted">
                            <%= user.email %>
                        </h6>
                        <% });  %>

                    </div>